@import "tailwindcss";

@font-face {
    font-family: "Figtree";
    src: url("/fonts/Figtree-VariableFont_wght.ttf");
    font-weight: 300 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Geist Mono";
    src: url("/fonts/GeistMono-Regular.ttf");
}

.figtree {
    font-family: "Figtree", sans-serif;
}

.geist {
    font-family: "Geist", sans-serif;
}

.text-galaxy {
    background: -webkit-linear-gradient(
        90deg,
        rgba(82, 113, 237, 1) 0%,
        rgba(117, 59, 188, 1) 100%
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bg-galaxy {
    background-image: -webkit-linear-gradient(
        50deg,
        rgba(82, 113, 237, 1) 0%,
        rgba(117, 59, 188, 1) 100%
    );
}

pre {
    background-color: transparent !important;
}

.shiki * {
    font-family: "Geist Mono", monospace !important;
}
