@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";

.font-figtree {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.text-galaxy {
  background: -webkit-linear-gradient(
    90deg,
    rgba(82, 113, 237, 1) 0%,
    rgba(117, 59, 188, 1) 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
